{% extends '_partials/base.html' %}


{% load static %}

{% block content %}


    <h1  class="ui header">Detail</h1>

    {% include '_partials/messages.html' %}

    <div class="ui card">
        <div class="content">
          <div class="header">{{errands.title}}</div>
          <div class="meta">{{errands.created_at}}</div>
          <div class="description">
            <p>{{errands.description}}</p>
          </div>
        </div>
        <div class="extra content">

            {% if errands.is_completed%}
          
          <p>
          <i class="check icon green"></i>
      
          Completed at {{errands.updated_at}}
          </p>

          {% else %}
          <p>

            Not yet completed

            </p>

            {% endif %}
         <a href={% url 'errands-edit' errands.id %} class="ui button primary">Edit</a>
         <a href={% url 'errands-delete' errands.id %} class="ui button red">Delete this errand</a>
        </div>



   
    
    {% endblock content %}